<nav class="site-nav">
  <a href="/">Home</a>
  <a href="/menu">Full Menu</a>
  <!-- new links in partial for menu categories -->
  <a href="/menu/mains">Mains</a>
  <a href="/menu/desserts">Desserts</a>
  <a href="/menu/sides">Sides</a>
</nav>
